unstructured==0.17.2
llama-index==0.12.36
llama-index-readers-file
llama-index-readers-mongodb
langchain
langchain-community
PyPDF2
pandas
openpyxl
motor
grpcio
grpcio-tools
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-grpc
pypdf
prometheus_client
requests
pytest
pytest-asyncio